<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <i class=" menu-icon fas fa-hammer"></i>
        <span class="menu-title">DASHBOARD</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/offerings" routerLinkActive="active">
        <i class="menu-icon fas fa-exchange-alt"></i>
        <span class="menu-title">OFFERINGS</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <i class="menu-icon fas fa-users"></i>  
        <span class="menu-title">TRANSACTIONS</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <i class=" menu-icon  fas fa-cogs"></i>
        <span class="menu-title">SETTINGS</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <i class="menu-icon fas fa-hammer"></i>
        <span class="menu-title">Value</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <i class="menu-icon fas fa-hammer"></i>
        <span class="menu-title">Value</span>
      </a>
    </li>
  </ul>
</nav>
